openapi: 3.2.0
info:
  title: ByKaranteli crypto derivatives data X402 API
  version: 1.0.0
  description: Crypto derivatives market structure recorded around the clock. The live snapshots are free and unmetered; the endpoints listed here sell depth and history per call over the x402 protocol.
  x-guidance: Free endpoints under /api/public/* need no payment or key. The /api/x402/* endpoints answer HTTP 402 with machine-readable payment requirements and settle in USDC on Solana or Base per successful response. A failed response settles nothing.
  contact:
    email: support@bykaranteli.com
    url: https://bykaranteli.com/developers
  license:
    name: 'Data: CC0 for published datasets'
    url: https://bykaranteli.com/data
servers:
- url: https://bykaranteli.com
tags:
- name: X402
paths:
  /api/x402:
    get:
      summary: Free machine-readable catalog of the paid endpoints
      operationId: x402Catalog
      security: []
      responses:
        '200':
          description: Catalog of paid endpoints, prices and settlement rails
      tags:
      - X402
  /api/x402/liqmap-levels:
    get:
      summary: 'Full multi-exchange liquidation map snapshot for a Binance USDT-M perp: modeled…'
      operationId: liqmap-levels
      responses:
        '200':
          description: Requested data, returned after payment settles
        '402':
          description: 'Payment required: the response carries x402 payment requirements'
      x-payment-info:
        protocols:
        - x402: {}
        price:
          mode: fixed
          currency: USD
          amount: '0.005000'
        networks:
        - solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp
        - eip155:8453
        asset: USDC
      tags:
      - X402
  /api/x402/options-flow:
    get:
      summary: 'BTC or ETH options tape depth from recorded Deribit flow: daily premium-flow…'
      operationId: options-flow
      responses:
        '200':
          description: Requested data, returned after payment settles
        '402':
          description: 'Payment required: the response carries x402 payment requirements'
      x-payment-info:
        protocols:
        - x402: {}
        price:
          mode: fixed
          currency: USD
          amount: '0.005000'
        networks:
        - solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp
        - eip155:8453
        asset: USDC
      tags:
      - X402
  /api/x402/flow-vpin:
    get:
      summary: 'Order flow toxicity (VPIN) history for BTC, ETH and SOL: 90-day daily track…'
      operationId: flow-vpin
      responses:
        '200':
          description: Requested data, returned after payment settles
        '402':
          description: 'Payment required: the response carries x402 payment requirements'
      x-payment-info:
        protocols:
        - x402: {}
        price:
          mode: fixed
          currency: USD
          amount: '0.002000'
        networks:
        - solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp
        - eip155:8453
        asset: USDC
      tags:
      - X402
  /api/x402/premium-history:
    get:
      summary: 'Daily Coinbase premium history: the Coinbase versus offshore price spread per…'
      operationId: premium-history
      responses:
        '200':
          description: Requested data, returned after payment settles
        '402':
          description: 'Payment required: the response carries x402 payment requirements'
      x-payment-info:
        protocols:
        - x402: {}
        price:
          mode: fixed
          currency: USD
          amount: '0.005000'
        networks:
        - solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp
        - eip155:8453
        asset: USDC
      tags:
      - X402
  /api/x402/cot-history:
    get:
      summary: 'Full CFTC Commitments of Traders weekly history for crypto futures: dealer…'
      operationId: cot-history
      responses:
        '200':
          description: Requested data, returned after payment settles
        '402':
          description: 'Payment required: the response carries x402 payment requirements'
      x-payment-info:
        protocols:
        - x402: {}
        price:
          mode: fixed
          currency: USD
          amount: '0.005000'
        networks:
        - solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp
        - eip155:8453
        asset: USDC
      tags:
      - X402
  /api/x402/liquidations-raw:
    get:
      summary: Individual liquidation events recorded from our own exchange sockets across…
      operationId: liquidations-raw
      responses:
        '200':
          description: Requested data, returned after payment settles
        '402':
          description: 'Payment required: the response carries x402 payment requirements'
      x-payment-info:
        protocols:
        - x402: {}
        price:
          mode: fixed
          currency: USD
          amount: '0.010000'
        networks:
        - solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp
        - eip155:8453
        asset: USDC
      tags:
      - X402
  /api/x402/oi-history:
    get:
      summary: Five minute open interest history for the major perpetuals in base units and…
      operationId: oi-history
      responses:
        '200':
          description: Requested data, returned after payment settles
        '402':
          description: 'Payment required: the response carries x402 payment requirements'
      x-payment-info:
        protocols:
        - x402: {}
        price:
          mode: fixed
          currency: USD
          amount: '0.005000'
        networks:
        - solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp
        - eip155:8453
        asset: USDC
      tags:
      - X402
  /api/x402/funding-history:
    get:
      summary: Settled funding rate history per symbol and venue, the series behind carry and…
      operationId: funding-history
      responses:
        '200':
          description: Requested data, returned after payment settles
        '402':
          description: 'Payment required: the response carries x402 payment requirements'
      x-payment-info:
        protocols:
        - x402: {}
        price:
          mode: fixed
          currency: USD
          amount: '0.005000'
        networks:
        - solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp
        - eip155:8453
        asset: USDC
      tags:
      - X402
  /api/x402/options-oi-history:
    get:
      summary: 'Daily listed options open interest per instrument: strike, expiry, option type…'
      operationId: options-oi-history
      responses:
        '200':
          description: Requested data, returned after payment settles
        '402':
          description: 'Payment required: the response carries x402 payment requirements'
      x-payment-info:
        protocols:
        - x402: {}
        price:
          mode: fixed
          currency: USD
          amount: '0.005000'
        networks:
        - solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp
        - eip155:8453
        asset: USDC
      tags:
      - X402
  /api/x402/dvol-history:
    get:
      summary: Daily implied volatility index history for BTC and ETH going back to 2021, the…
      operationId: dvol-history
      responses:
        '200':
          description: Requested data, returned after payment settles
        '402':
          description: 'Payment required: the response carries x402 payment requirements'
      x-payment-info:
        protocols:
        - x402: {}
        price:
          mode: fixed
          currency: USD
          amount: '0.002000'
        networks:
        - solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp
        - eip155:8453
        asset: USDC
      tags:
      - X402
  /api/x402/slippage-history:
    get:
      summary: 'Hourly recorded execution slippage ladders per symbol: what a given order size…'
      operationId: slippage-history
      responses:
        '200':
          description: Requested data, returned after payment settles
        '402':
          description: 'Payment required: the response carries x402 payment requirements'
      x-payment-info:
        protocols:
        - x402: {}
        price:
          mode: fixed
          currency: USD
          amount: '0.002000'
        networks:
        - solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp
        - eip155:8453
        asset: USDC
      tags:
      - X402
  /api/x402/listings-history:
    get:
      summary: Perpetual listing and delisting events across six exchanges with first seen…
      operationId: listings-history
      responses:
        '200':
          description: Requested data, returned after payment settles
        '402':
          description: 'Payment required: the response carries x402 payment requirements'
      x-payment-info:
        protocols:
        - x402: {}
        price:
          mode: fixed
          currency: USD
          amount: '0.002000'
        networks:
        - solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp
        - eip155:8453
        asset: USDC
      tags:
      - X402
  /api/x402/spot-microstructure:
    get:
      summary: Minute bars with the taker buy versus total quote volume split, pre-joined…
      operationId: spot-microstructure
      responses:
        '200':
          description: Requested data, returned after payment settles
        '402':
          description: 'Payment required: the response carries x402 payment requirements'
      x-payment-info:
        protocols:
        - x402: {}
        price:
          mode: fixed
          currency: USD
          amount: '0.010000'
        networks:
        - solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp
        - eip155:8453
        asset: USDC
      tags:
      - X402
